.input{
    width: 90%;
    height: auto;           
    padding:5%;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #d1d9e6, inset -4px -4px 8px #ffffff;  
    border:0px;
}

select{
    width:90%;
    height:auto;
    padding: 5%;
    border-radius: 50px;
    border:0px;
    box-shadow: inset 4px 4px 10px #d1d9e6,inset -4px -4px 8px #ffffff;
}

.neumorphic-button{
    width:90% !important;
    border:none;
    border-radius: 50px !important;
    font-size: 16px !important;
    /* padding: 12px !important; */
    margin-top: 10px;
    background: #f0f0f3 !important;
    color:#E91E63 !important;
    font-weight: bold;
    box-shadow: 4px 4px 8px #d1d9e6,-4px -4px 8px #ffffff;
    cursor:pointer;
}

.flex{
    margin: auto;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(max-width:500px){
    .flex{
        width:100% !important;
        border:none !important;
        box-shadow:none;
    }
}